<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510954039165-fb6btv60hv4a1adn858d88d6804hftne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510954039165-fb6btv60hv4a1adn858d88d6804hftne</string>
	<key>API_KEY</key>
	<string>AIzaSyDWt3N7opNKBPXitnYcTJDgc4YmxhfmvBY</string>
	<key>GCM_SENDER_ID</key>
	<string>510954039165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yhakamay.motchi</string>
	<key>PROJECT_ID</key>
	<string>motchi</string>
	<key>STORAGE_BUCKET</key>
	<string>motchi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510954039165:ios:9082f187068ecfc9e34e14</string>
</dict>
</plist>